PORT=3001
PASSWORD=changeme
JWT_SECRET=change-this-secret
NOTES_REPO_PATH=/path/to/zettelkasten
GIT_REMOTE_URL=
GIT_USER_NAME=nanoclaw
GIT_USER_EMAIL=nanoclaw@claw-zettel
NANOCLAW_BASE_URL=http://localhost:4000
